<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocetna</title>
</head>

<body background="../../assets/back1.jpg" style="min-height: 100vh; min-width: 100vh; margin: 0%; 
    background-repeat: no-repeat; background-position: center; background-size: cover;">

    <div class="container" style="margin-bottom: 20px;" >
        <div class="row" style="margin-bottom: 25px; display: flex; justify-content: center; width: 60%; margin-left: 20%;">
                <img src="/assets/logo.jpeg" style="margin-top: 20px; border-style: solid; border-color: black; ">
        </div>
        
        <menu  class="container"
        style="background-color: rgb(1, 4, 20); display: flex; justify-content: center; margin-left: 20%;
                height: 40px; padding-left: 0%; color: aliceblue; width: 60%;">
                    <div class="row" style="display: flex; flex-direction: row; width: 100%;
                    justify-content: space-evenly;">
                        <div style="width: 100%; text-align: center; padding-top: 10px; " class="menu_border_exeption">
                            <a routerLink="/menadzer/pocetna" style="color: aliceblue; text-decoration-line: none;" >Pocetna</a></div> 
                        <div style="width: 100%; text-align: center;  padding-top: 10px;" class="menu_border">
                            <a routerLink=""style="color: aliceblue; text-decoration-line: none;">Izloguj se</a></div> 
                    </div>
                
        </menu>

        <div class="container" style="background-color: aliceblue; width: 30%; margin-left: 35%; border-radius: 25px;" >
            <div class="row" style="display: flex; justify-content: center;  margin-bottom: none;">
                <div class="col-sm-12">
                    <h3>
                       Dobro dosli nazad, {{ime}} {{prezime}} !
                    </h3>
                </div>
            </div>
            <hr>
            <div class="row" style="display: flex; justify-content: center;">
                <div style="padding: 10px;">
                   
                    <table>
                        
                            <tr><td><a routerLink="/menadzer/novi_reg_korisnici">Odobravanje novih pacijenata</a></td></tr>
                            <tr><td><a routerLink="/menadzer/lekari">Pregled lekara</a></td></tr>
                            <tr><td><a routerLink="/menadzer/pacijenti">Pregled pacijenata</a></td></tr>
                            <tr><td><a routerLink="/menadzer/nov_lekar">Dodaj lekara</a></td></tr>
                            <tr><td><a routerLink="/menadzer/nov_pregled">Dodaj pregled</a></td></tr>
                            <tr><td><a routerLink="/menadzer/pregledi">Pregled pregleda</a></td></tr>
                            <tr><td><a routerLink="/menadzer/nova_specijalizacija">Dodaj specijalizaciju</a></td></tr>
                            <tr><td><a routerLink="/menadzer/lekar_predlozi">Pregled predloga za nove preglede</a></td></tr>
                            <tr><td><a routerLink="/menadzer/obavestenje">Novo Obavestenje</a></td></tr>
                            
                    </table>
                    
                  
                </div>

            </div>
            
        </div>
    </div>
        
       
  
      <footer style="height: 50px; background-color: rgb(5, 19, 44); margin-left: 20%; width: 60%; text-align: center; 
      color: rgb(9, 46, 78); padding-top: 20px;"
      >
         footer@Teodora Glisic- Pia projekat
      </footer>

 
</body>
</html>



