<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocetna</title>
</head>

<body background="../../assets/back1.jpg" style="min-height: 100vh; min-width: 100vh; margin: 0%; 
    background-repeat: no-repeat; background-position: center; background-size: cover;">

    <div class="container" >
        <div class="row" style="margin-bottom: 25px; display: flex; justify-content: center; width: 60%; margin-left: 20%;">
           
                <img src="/assets/logo.jpeg" style="margin-top: 20px; border-style: solid; border-color: black; ">
            
        </div>
        
        <menu  class="container"
        style="background-color: rgb(1, 4, 20); display: flex; justify-content: center; margin-left: 20%;
                height: 40px; padding-left: 0%; color: aliceblue; width: 60%;">
                    <div class="row" style="display: flex; flex-direction: row; width: 100%;
                    justify-content: space-evenly;">
                        <div style="width: 100%; text-align: center; padding-top: 10px; " class="menu_border_exeption">
                            <a routerLink="/menadzer/pocetna" style="color: aliceblue; text-decoration-line: none;" >Pocetna</a></div> 
                        <div style="width: 100%; text-align: center;  padding-top: 10px;" class="menu_border">
                            <a routerLink=""style="color: aliceblue; text-decoration-line: none;">Izloguj se</a></div> 
                    </div>
                
        </menu>

        <div class="container" style="background-color: aliceblue; width: 60%; margin-left: 20%; padding-bottom: 10px;
        border-radius: 25px;">
            <div class="row" style="display: flex; justify-content: center;  margin-bottom: none;">
                <div class="col-sm-12">
                    <h3>
                       Prikaz svih lekara
                    </h3>
                </div>
            </div>
            <hr>
            <div class="row">            
                <div class="row" style="display: flex; flex-direction: row; margin-left: 10%; 
                background-color: rgb(252, 252, 252); margin-right: 10%; height: 300px;
                border-style: solid; margin-top: 10px; border-radius: 20px;" *ngFor="let lekar of svi_lekari">
                    
                        <div style="height: 100%;">
                            <img [src]=lekar.profilna_slika style="margin: 20px;
                            border-radius: 40%; height: 80%;">
                        </div>

                        <div class="row" style="margin: 40px;">
                            <div style="height: 30px;">
                                {{lekar.ime}} {{lekar.prezime}}
                                <hr style="color: black;">
                            </div>
                            <div><p>
                                Adresa: {{lekar.adresa}}<br>
                                Kontakt telefon: {{lekar.kontakt_telefon}}<br>
                                E-mail adresa: {{lekar.email}} <br>
                                Specijalizacija : {{lekar.specijalizacija}}<br>
                                Ogranak ordinacije : {{lekar.ogranak_ordinacije}}<br>
                                Broj licence : {{lekar.lekarska_licenca}}<br>
                           </div>
                            <div>
                                <button (click)="azuriraj(lekar)" style="margin-right: 5px;">Azuriraj lekara</button>
                                <button (click)="obrisi(lekar)">Obrisi profil</button>
                            </div>
                        </div>
                    

                </div>

                

            </div>
            
        </div>
    </div>
        
       
  
      <footer style="height: 50px; background-color: rgb(5, 19, 44); margin-left: 20%; width: 60%; text-align: center; 
      color: rgb(9, 46, 78); padding-top: 20px;"
      >
         footer@Teodora Glisic- Pia projekat
      </footer>

   

    
</body>
</html>


