<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocetna</title>
</head>

<body background="../../assets/back1.jpg" style="min-height: 100vh; min-width: 100vh; margin: 0%; 
    background-repeat: no-repeat; background-position: center; background-size: cover;">

    <div class="container" >
        <div class="row" style="margin-bottom: 25px; display: flex; justify-content: center; width: 60%; margin-left: 20%;">
           
                <img src="/assets/logo.jpeg" style="margin-top: 20px; border-style: solid; border-color: black; ">
            
        </div>
        
        <menu  class="container"
        style="background-color: rgb(1, 4, 20); display: flex; justify-content: center; margin-left: 20%;
                height: 40px; padding-left: 0%; color: aliceblue; width: 60%;">
                    <div class="row" style="display: flex; flex-direction: row; width: 100%;
                    justify-content: space-evenly;">
                        <div style="width: 100%; text-align: center; padding-top: 10px; " class="menu_border_exeption">
                            <a routerLink="/menadzer/pocetna" style="color: aliceblue; text-decoration-line: none;" >Pocetna</a></div> 
                        <div style="width: 100%; text-align: center;  padding-top: 10px;" class="menu_border">
                            <a routerLink=""style="color: aliceblue; text-decoration-line: none;">Izloguj se</a></div> 
                    </div>
                
        </menu>
        <div class="container" style="background-color: aliceblue; width: 60%; margin-left: 20%;
        border-radius: 20px;">
            <div class="row" style="display: flex; justify-content: center; margin-bottom: none;">
                <div class="col-sm-12">
                    <h3>
                        Dodaj novog lekara
                    </h3>
                </div>
            </div>
            <hr>
            <div class="row"  *ngIf="poruka_prazno_polje" style="color: red; display: flex; justify-content: center;"> 
                {{poruka_prazno_polje}}
              </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div style="padding: 10px;">
                   
                
                   <form action="">

                       Korisnicko ime: <p style="color: red; " *ngIf="poruka_korisnicko_ime">{{poruka_korisnicko_ime}} </p><br>
                       <input type="text" name="korisniko_ime" [(ngModel)]="korisnicko_ime">
                       <br>
                       Lozinka : <p style="color: red;" *ngIf="poruka_lozinka">{{poruka_lozinka}}</p><br>
                       <input type="password" name="lozinka" [(ngModel)]="lozinka">
                       <br>

                       Potvrda lozinke : <p style="color: red;" *ngIf="poruka_potvrda_lozinke">{{poruka_potvrda_lozinke}}</p> <br>
                       <input type="password" name="potvrda_lozinke" [(ngModel)]="potvrda_lozinke">
                       <br>

                       Ime: <br>
                       <input type="text" name="ime" [(ngModel)]="ime">
                       <br>

                       Prezime:<br>
                       <input type="text" name="prezime" [(ngModel)]="prezime">
                       <br>

                       Adresa:<br>
                       <input type="text" name="adresa" [(ngModel)]="adresa">
                       <br>

                       E-mail adresa: <p style="color: red;" *ngIf="poruka_email">{{poruka_email}}</p><br>
                       <input type="email" name="email" [(ngModel)]="email">
                       <br>

                       Kontakt telefon: +381-XX-XXX-XXXX<p style="color: red;" *ngIf="poruka_telefon">{{poruka_telefon}}</p><br>
                       <input type="tel" name="telefon" [(ngModel)]="telefon">
                       <br>

                       Broj lekarske licence:<br>
                       <input type="text" name="lekarska_licenca" [(ngModel)]="lekarska_licenca">
                       <br>

                       Specijalizacija:<br>
                       <select [(ngModel)]="izabrana_specijalizacija" name="specijalizacijaName"> 
                        <option *ngFor="let specijalizacija of specijalizacije" 
                        value="{{specijalizacija.ime_specijalizacije}}" >{{specijalizacija.ime_specijalizacije}}</option>
                        </select>
                       <br>

                       Ogranak ordinacije:<br>
                       <input type="text" name="ogranak_ordinacije" [(ngModel)]="ogranak_ordinacije">
                       <br>
                       Dodaj profilnu sliku: <p style="color: red;" *ngIf="poruka_profilna_slika">{{poruka_profilna_slika}}</p><br>
                       <input type="file" (change)="onFileSelected($event)">
                       <br>
                       <img [src]=url alt="">
                       <br>
                       <button type="submit" (click)="dodajLekara()" >Dodaj novog lekara</button>
                        <div *ngIf="poruka_uspesno_registrovan" style="color: green;">
                            {{poruka_uspesno_registrovan}}
                        </div>
                   </form>
                </div>

            </div>
            
        </div>
    </div>
 
       
  
      <footer style="height: 50px; background-color: rgb(5, 19, 44); margin-left: 20%; width: 60%; text-align: center; 
      color: rgb(9, 46, 78); padding-top: 20px;"
      >
         footer@Teodora Glisic- Pia projekat
      </footer>

   

    
</body>
</html>



