<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocetna</title>
</head>

<body background="../../assets/back1.jpg" style="min-height: 100vh; min-width: 100vh; margin: 0%; 
    background-repeat: no-repeat; background-position: center; background-size: cover;">

    <div class="container">
        <div class="row"
            style="margin-bottom: 25px; display: flex; justify-content: center; width: 60%; margin-left: 20%;">

            <img src="/assets/logo.jpeg" style="margin-top: 20px; border-style: solid; border-color: black; ">

        </div>

        <menu  class="container"
        style="background-color: rgb(1, 4, 20); display: flex; justify-content: center; margin-left: 20%;
        height: 40px; padding-left: 0%; color: aliceblue; width: 60%;">
                    <div class="row" style="display: flex; flex-direction: row; width: 100%;
                    justify-content: space-evenly;">
                        <div style="width: 100%; text-align: center; padding-top: 10px; " class="menu_border_exeption">
                            <a routerLink="/pacijent/pocetna" style="color: aliceblue; text-decoration-line: none;">Profil</a></div> 
                        <div style="width: 100%; text-align: center;  padding-top: 10px;" class="menu_border">
                            <a routerLink="/pacijent/lekari"style="color: aliceblue; text-decoration-line: none;" >Lekari</a></div> 
                       <div style="width: 100%; text-align: center;  padding-top: 10px;"class="menu_border">
                        <a routerLink="/pacijent/termini_izvestaji"style="color: aliceblue; text-decoration-line: none;" >Pregledi</a></div> 
                        <div style="width: 100%; text-align: center;  padding-top: 10px;"class="menu_border">
                            <a routerLink="/pacijent/obavestenja"style="color: aliceblue; text-decoration-line: none;" >Obavestenja</a></div> 
                                <div style="width: 100%; text-align: center;  padding-top: 10px;"class="menu_border">
                                    <a routerLink=""style="color: aliceblue; text-decoration-line: none;" >Izloguj se</a></div> 
                                           
                   </div>
                
        </menu>
        
        <div class="container" style="background-color: aliceblue; width: 60%; margin-left: 20%; padding-bottom: 10px;
        border-radius: 20px;">
            <div class="row" style="display: flex; justify-content: center; margin-bottom: none;">
                
                    <h3>
                        Profil lekara
                    </h3>
            
            </div>
            <hr>
            <div class="row">
                <div class="row" style="display: flex; flex-direction: row; margin-left: 10%; 
                background-color: aliceblue; margin-right: 10%; height: 200px;
                margin-top: 10px;">

                    <div style="height: 100%;">
                        <img [src]=lekar.profilna_slika style="margin: 20px;
                            border-radius: 40%; height: 80%; border-style: solid; border-color: rgb(3, 56, 58);">
                    </div>

                    <div class="row" style="margin: 40px;">
                        <div style="height: 30px;">
                            Dr.{{lekar.ime}} {{lekar.prezime}}
                            <hr style="color: black;">
                        </div>
                        <div>Specijalizacija: {{lekar.specijalizacija}}</div>
                        <p>
                            Lekarska licenca: {{lekar.lekarska_licenca}} <br>
                            E-mail: {{lekar.email}} <br>
                            Odeljenje sektora : {{lekar.ogranak_ordinacije}}
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <hr>
                    <div style="margin-left: 10%;">
                        <h4>Pregledi</h4>
                    </div>
                    <hr>
                    <div class="row" style="display: flex; flex-direction: row; margin-left: 10%; 
                        background-color: rgb(252, 252, 252); margin-right: 10%; height: 200px;
                        border-style: solid; margin-top: 10px; border-radius: 25px;" *ngFor="let pregled of lekar.pregledi">

                        <div class="row" style="margin: 40px;">
                            <div style="height: 30px;">
                                {{pregled.naziv}}
                                <hr style="color: black;">
                            </div>
                            <div style="margin-top: 10px;">
                                Trajanje : {{pregled.trajanje}}min<br>
                                Cena : {{pregled.cena}} rsd
                            </div>

                            <div style="margin-top: 10px;">
                                <button style="margin-right: 10px;" (click)="zakazi_forma(pregled)">Zakazi pregled preko forme</button>
                                <button style="margin-right: 10px;" (click)="zakazi_kalendar(pregled)">Zakazi pregled preko kalendara</button>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer style="height: 50px; background-color: rgb(5, 19, 44); margin-left: 20%; width: 60%; text-align: center; 
      color: rgb(9, 46, 78); padding-top: 20px;">
        footer@Teodora Glisic- Pia projekat
    </footer>




</body>

</html>